<h3>Log in</h3>
<br>
<div>
  <%= form_with(local: true, url: user_path, method: :get, scope: :session) do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    
    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit "Log in" %>
  <% end %>
</div>