<h3><%= "#{@user.name}" %>さんのマイページ</h3>

<h3>タスク一覧</h3>
<br>
<%= form_with(model: @tasks, local: true, url: tasks_path, method: :get, scope: :task) do |f| %>
  <table>
    <tr>
      <th>タスク</th>
      <th>終了期限</th>
      <th>進捗</th>
      <th>優先度</th>
      <th>ユーザー名</th>
    </tr>
    <br>
    <% @tasks.each do |task| %>
      <tr>
        <td class="spec_testname"><%= task.name %></td>
        <td class="task_time_limit"><%= l task.time_limit, format: :short %></td>
        <td class="task_status"><%= task.status %></td>
        <td class="task_priority"><%= task.priority %></td>
        <td class="task_user"><%= task.user.name %></td>
      </tr>
    <% end %>
  </table>
  <div>
    <br>
    <%= paginate @tasks %>
    <br>
    <%= link_to 'プロフィール編集', edit_user_path(@user.id) %>
  </div>
<% end %>
